# ---- profile-service ----
PROFILE_DB_NAME=waypoint_profiles
PROFILE_DB_USER=waypoint
PROFILE_DB_PASSWORD=password
PROFILE_DB_URL=postgresql://waypoint:password@localhost:5432/waypoint_profiles

JWT_SECRET=abcd1234
JWT_EXPIRES_IN=7d

# ---- frontend ----
PROFILE_SERVICE_URL=http://profile-service:3010